.main {
  padding: 2rem;
  height: 100vh;
  display: flex;
  align-items: center;
}

.contentContainer {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoContainer {
  position: relative;
  max-width: 400px;
  margin-bottom: 1rem;
}

.logoContainer img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.subHead,
.downloadLink {
  font-size: 1.5rem;
}

.subHead {
  margin-bottom: 1rem;
}

.downloadLink a {
  color: #000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background: #e5dbcd;
}

.contact,
.person {
  display: inline-block;
}

@media (max-width: 575px) {
  .main {
    padding: 10vh 2rem 0 2rem;
    align-items: unset;
  }

  .contentContainer {
    justify-content: unset;
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

@media (max-width: 485px) {
  .subHead,
  .downloadLink {
    font-size: 1rem;
  }
}
